body{
    background-image: url(../images/RRTFlyer.jpg);
    background-size: 100%;
    background-color: rgb(171, 182, 190);
    background-blend-mode: screen;
    z-index: -1;
    background-repeat: no-repeat;
    position: absolute;
}

#title-text{
    /* padding-top: 2%; */
    font-size: 4vw;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}

span{
    font-weight: bold;
}

.navbar {
    padding:0rem;
    margin-bottom:2rem;
}

.dropdown .dropdown-menu {
    border-radius:0;
}


.nav-link{
    font-weight: bold;
}

.content{
    display: flex;
    flex-direction: column;
}

article{
    text-align: center;
    margin-bottom: 2%;
}

h1{
    font-size: 2.5vw;
    font-weight: bold;
    color: slategray
}

h2{
    font-size: 1.5vw;
    font-weight: bold;
    color: slategray;
}

/* #center-img{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
} */

p{
    margin-left: 10%;
    font-size: 18px;
    max-width: 80%;
    text-align: center;
}

footer{
    flex-shrink: 0;
    background-color: teal;
}

#foot{
    padding: 1%;
    color: whitesmoke;
    font-size: 1.5vw;
    font-weight: bold;
}

#foot > a{
    color: whitesmoke;
}

#foot :hover{
    text-decoration: none;
    color: orangered
}

/* Medium devices (tablets, 768px and up) 
The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        border-radius:0;
    }
    }

@media only screen and (max-width: 990px) {

    header{
        height: 150px;
    }
    p{
        font: 16px;
    }

}

@media only screen and (max-width: 660px) {

    header{
        height: 100px;
    }
    p{
        font: 14px;
    }

}