html, body{
    height: 100%;
    margin: auto;
}

.wrapper{
    min-height: 100%;
    margin-bottom: -50px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.navbar {
    padding:0rem;
}

.dropdown .dropdown-menu {
    border-radius:0;
}

.nav-link{
    font-weight: bold;
}

.top-img{
    max-width: 100%;
    align-content: center;
}

.img{
    width: 100%;
    height: auto;
}

#rotating{
    height: 75px;
}

#rotating > div > span{
    font-size: 4vw;
    position: absolute;
	opacity: 0;
	overflow: hidden;
}

div.rw-words.rw-words-1{
    text-transform: uppercase;
    display: flex;
    margin-left: 37.5%;
}

.rw-words-1 span{
    animation: rotateWordsFirst 35s linear infinite -4s;
}

.rw-words span:nth-child(2) { 
	animation-delay: 4s; 
	color: #8B00FF;
}
.rw-words span:nth-child(3) { 
	animation-delay: 10s; 
	color: #2E2B5F;	
}
.rw-words span:nth-child(4) { 
	animation-delay: 15s; 
	color: #003882;
}
.rw-words span:nth-child(5) { 
	animation-delay: 20s; 
	color:  #00FF00;
}
.rw-words span:nth-child(6) {  
	animation-delay: 25s; 
	color: #00d9ff;
}
.rw-words span:nth-child(7) {  
	animation-delay: 30s; 
	color: #FF7F00;
}
.rw-words span:nth-child(8) {  
	animation-delay: 35s; 
	color: #FF0000;
}

@keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
	25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}

#title-text{
    font-size: 4vw;
    text-align: center;
    color: slategray;
    font-weight: bold;
    padding: 1%;
    background-color: lightgray;
    border-top: 1px solid magenta;
    border-bottom: 1px solid magenta;
    /* text-shadow: 1vw 1vw 1vw rgb(209, 21, 21); */
}

h3{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: slategray
}

h4{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: slategray;
}

.content{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%
}

article{
    text-align: center;
    margin-bottom: 2%;
}

.body-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: 10%;
}

.footer, .push{
    height: 50px;
}

span{
    font-weight: bold;
}

.footer{
    background-color: teal;
}

#foot{
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center;
    color: whitesmoke;
    padding: 1%;
}

#foot > a{
    color: whitesmoke;
}

#foot > a:hover{
    text-decoration: none;
    color: orangered
}

/* Medium devices (tablets, 768px and up) 
The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        border-radius:0;
    }

}

@media only screen and (max-width: 990px) {

    #rotating{
        height: 60px;
    }

    span{
        color: whitesmoke;
    }

    .body-text{
        font: 14px;
    }

}

@media only screen and (max-width: 660px) {

    #rotating{
        margin-top: 1%;
        height: 40px;
    }

    h3{
        font-size: 22px;
        padding: 1%;
    }
    
    h4{
        font-size: 18px;
        padding: 1%;
    }
    
    .body-text{
        font: 12px;
        color: gray;
    }

    .wrapper{
        margin-bottom: -25px;
    }

    .footer, .push{
        height: 20px;
    }

}

@media only screen and (max-width: 500px) {

    #rotating{
        margin-top: .5%;
        height: 25px;
    }

    h3{
        font-size: 18px;
        padding: 1%;
    }
    
    h4{
        font-size: 14px;
        padding: 1%;
    }
    
    .body-text{
        font: 10px;
        color: gray;
    }
    .wrapper{
        margin-bottom: -25px;
    }
    .footer, .push{
        height: 20px;
    }

}